
 <nav class="bg-black flex justify-between items-center p-6">
            <div class="flex justify-evenly items-center gap-6 md:gap-8 lg:gap-12">
                <a href="{% url 'teacher_dashboard' %}"><h4 class="text-white font-bold">Dashboard</h4></a>
                <a href="{% url 'quiz_create' %}" ><h4 class="text-white font-bold">Create Quizz</h4> </a>
                {% comment %} <a href=""><h4 class="text-white font-bold">Manage Question</h4></a> {% endcomment %}
                <a href="{% url 'quiz_list' %}"><h4 class="text-white font-bold">My Quizzes</h4></a>
                <a href="{% url 'teacher_quiz_list' %}"><h4 class="text-white font-bold">Student Result</h4></a>

            </div>
            <div class="flex items-center">
            <div class="relative">
              <button id="user-menu-button" class="focus:outline-none">

                <img
                    class="h-8 w-8 md:h-12 md:w-12 rounded-full object-cover border-2 border-white"
                    src="{{ request.user.profile_image.url }}"
                    alt="avatar"
                >

            </button>
              <div
                id="user-menu"
                class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 hidden"
              >
                <a
                  href="{% url 'teacher_dashboard' %}"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  >Dashboard</a
                >
                <a
                  href="{% url 'profile' %}"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  >Profile</a
                >
                <form method="POST" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  >
                    Logout
                  </button>
                </form>
              </div>
            </div>
            <div class="md:hidden ml-4">
              <button
                id="menu-toggle"
                class="text-gray-600 hover:text-gray-800 focus:outline-none"
              >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>

              </button>
            </div>
          </div>
        </nav>