{% extends "base.html" %}
{% block content %}
<section class="h-screen flex justify-center">
    <div class="w-1/2 mx-auto py-9 m-10">
        {% if messages %}
            {% for message in messages %}
                <script>
                    alert({{message}})
                </script>
            {% endfor %}
        {% endif %}
        {% comment %} {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <li>{{error}}</li>
            {% endfor %}
        {% endif %} {% endcomment %}
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button class="bg-blue-500 text-white mt-6 w-full py-2 rounded" type="submit">Sign In</button>
        </form>

    </div>
    {% comment %} <a href="{% url 'password_reset' %}">Reset Password</a> {% endcomment %}
</section>
{% endblock content %}
